body{
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
}

/*Navbar*/
.navbar-brand{
	font-size: 25px;
}

.name{
	font-size: 20px;
	color: blue;
}


/*Intro*/
.intro{
	margin-top: 9rem;
}

.brand-name{
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.brand-des{
	font-size: 15px;
	top: 0;
	color: #131111;
}
.into h1 p{
	margin-top: -20rem;
}

.intro img{
	width: 80%;
}

.intro-link{
	border-radius: 40px;
	margin-left: -0.1rem;
}


/*Footer*/
.footer{
	margin-top: 6.5rem;
}

.bulat{
	width: 40px;
	height: 40px;
	background: black;
	border-radius: 100%;
	margin-left: 30px;
}


/*Media Query Untuk Non Aktifkan Versi Mobile*/

@media only screen and (max-width: 600px) {
	body{
		display: none;
	}
}

@media only screen and (max-width: 900px) {
	body{
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	body{
		display: none;
	}
}